Repository luanmessias/buckify: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, bun run prettier --write, npx prettier --write

build(config): add e2e module path alias
  tsconfig.json
Due: npx prettier --write

fix(todo): update general fixes and add category danger area and security refactor tasks
  .todo/01-fix-general-fixes.todo
  .todo/backlog/feat-category-danger-area.todo
  .todo/finished/security-auth.todo
Due: none

test(e2e): add E2E testing infrastructure with Playwright page objects
  e2e/pages/BasePage.ts
  e2e/pages/auth/LoginPage.ts
  e2e/pages/components/Header.ts
  e2e/pages/components/UserArea.ts
  e2e/pages/dashboard/DashboardPage.ts
  e2e/specs/auth/login.spec.ts
  e2e/specs/layout/header.spec.ts
Due: npx eslint --fix, bun run prettier --write

chore: fix invalid import in theme-toggle
  src/components/common/theme-toggle/theme-toggle.tsx
Due: npx eslint --fix, bun run prettier --write

chore: update gitignore
  .gitignore
Due: none

feat(user-area): update user area component and add tests
  e2e/pages/components/Header.ts
  e2e/pages/components/UserArea.ts
  e2e/pages/dashboard/DashboardPage.ts
  e2e/specs/auth/login.spec.ts
  e2e/specs/layout/header.spec.ts
  e2e/specs/layout/user-area.spec.ts
  src/components/features/auth/user-area/user-area.test.tsx
  src/components/features/auth/user-area/user-area.tsx
Due: npx eslint --fix, bun run prettier --write

test: fix lint errors in user-area tests
  src/app/(dashboard)/category/[id]/loading.tsx
  src/app/graphql/resolvers.ts
  src/app/graphql/schema.ts
  src/components/features/auth/user-area/user-area.test.tsx
  src/components/features/categories/components/category-danger-zone/category-danger-zone-skeleton.tsx
  src/components/features/categories/components/category-danger-zone/category-danger-zone.tsx
  src/components/features/categories/components/category-danger-zone/delete-category-drawer.test.tsx
  src/components/features/categories/components/category-danger-zone/delete-category-drawer.tsx
  src/components/features/categories/components/category-view/category-view.tsx
  src/components/features/categories/components/create-category-drawer/create-category-drawer.test.tsx
  src/components/features/categories/components/create-category-drawer/create-category-drawer.tsx
  src/components/features/dashboard/dashboard-view/dashboard-view.tsx
  src/components/features/transactions/components/create-transaction-drawer/create-expense-drawer.tsx
  src/components/layout/bottom-nav/add-navigation/add-navigation.test.tsx
  src/components/layout/bottom-nav/add-navigation/add-navigation.tsx
  src/components/layout/bottom-nav/bottom-nav.tsx
  src/components/ui/sonner.tsx
  src/lib/features/categories/delete-category.ts
  src/messages/en.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

chore: enforce strict type checking and fix type errors
  .todo/01-fix-general-fixes.todo
  .todo/finished/feat-category-danger-area.todo
  e2e/pages/components/Header.ts
  package.json
  src/@types/resources.ts
  src/components/features/transactions/components/import-transaction-drawer/import-transaction-drawer.test.tsx
  src/components/layout/bottom-nav/add-navigation/add-navigation.test.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

fix(auth): update dev mode detection and inject realistic fake user data
  src/providers/auth-provider.tsx
Due: npx eslint --fix, bun run prettier --write

feat(auth): refactor dev mode login and improve user area accessibility
  .vscode/settings.json
  src/components/features/auth/logout-button/logout-button.tsx
  src/components/features/auth/user-area/user-area.test.tsx
  src/components/features/auth/user-area/user-area.tsx
  src/lib/constants/dev-mode.ts
  src/messages/en.json
  src/providers/auth-provider.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat: update user settings, categories, theme toggle and e2e tests
  e2e/pages/BasePage.ts
  e2e/pages/components/UserArea.ts
  e2e/pages/components/UserSettings.ts
  e2e/specs/layout/user-area.spec.ts
  package.json
  src/@types/resources.ts
  src/components/common/theme-toggle/theme-toggle.test.tsx
  src/components/common/theme-toggle/theme-toggle.tsx
  src/components/features/auth/logout-button/logout-button.tsx
  src/components/features/auth/user-area/user-area.tsx
  src/components/features/auth/user-settings/user-settings.test.tsx
  src/components/features/auth/user-settings/user-settings.tsx
  src/components/features/categories/components/category-summary/category-summary.test.tsx
  src/components/features/categories/components/category-summary/category-summary.tsx
  src/components/features/dashboard/summary-cards/summary.tsx
  src/lib/constants/dev-mode.ts
  src/messages/en.json
  src/providers/auth-provider.tsx
  src/scripts/check-comments.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

fix(auth): prevent form reset on user input in user settings
  src/components/features/auth/user-settings/user-settings.tsx
Due: npx eslint --fix, bun run prettier --write

test(e2e): improve reliability and add seed script
  e2e/pages/components/UserArea.ts
  e2e/pages/components/UserSettings.ts
  e2e/seed.spec.ts
  e2e/specs/auth/login.spec.ts
  e2e/specs/layout/user-area.spec.ts
  playwright.config.ts
Due: npx eslint --fix, bun run prettier --write

chore(config): add playwright to pre-commit and fix UserArea timeout
  .gitignore
  .husky/pre-commit
  .vscode/mcp.json
  e2e/pages/components/UserArea.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

fix(e2e): improve login test reliability and update gitignore
  .gitignore
  e2e/specs/auth/login.spec.ts
Due: npx eslint --fix, bun run prettier --write

feat: Introduce Playwright AI agents for test generation and healing, enhance comment checking script, and fix a flaky e2e login test.
  .github/agents/playwright-test-generator.agent.md
  .github/agents/playwright-test-healer.agent.md
  .github/agents/playwright-test-planner.agent.md
  .github/workflows/copilot-setup-steps.yml
  e2e/pages/components/UserArea.ts
  e2e/pages/components/UserSettings.ts
  e2e/seed.spec.ts
  e2e/specs/auth/login.spec.ts
  package.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

fix(e2e): reorg files displacement
  e2e/models/components/Header.ts
  e2e/models/components/UserArea.ts
  e2e/models/components/UserSettings.ts
  e2e/models/pages/BasePage.ts
  e2e/models/pages/DashboardPage.ts
  e2e/models/pages/LoginPage.ts
  e2e/specs/auth/login.spec.ts
  e2e/specs/layout/header.spec.ts
  e2e/specs/layout/user-area.spec.ts
  src/app/(dashboard)/loading.tsx
  src/components/features/dashboard/dashboard-view/dashboard-view.tsx
  src/components/features/dashboard/summary/summary-skeleton.tsx
  src/components/features/dashboard/summary/summary.test.tsx
  src/components/features/dashboard/summary/summary.tsx
Due: npx eslint --fix, bun run prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  bun run prettier --write: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: any of: *.{json,css,md}
