Repository luanmessias/buckify: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, bun run prettier --write, npx prettier --write

chore: remove all code comments from codebase
  biome.json
  next.config.js
  package.json
  pnpm-lock.yaml
  src/actions/scan-statement.test.ts
  src/actions/scan-statement.ts
  src/app/(auth)/login/login.test.tsx
  src/app/(auth)/login/page.tsx
  src/app/actions/auth.test.ts
  src/app/actions/auth.ts
  src/app/graphql/resolvers.test.ts
  src/app/graphql/resolvers.ts
  src/components/dashboard/category-card/category-card.tsx
  src/components/dashboard/category-list/category-list.test.tsx
  src/components/dashboard/dashboard-view/dashboard-view-skeleton.tsx
  src/components/dashboard/dashboard-view/dashboard-view.tsx
  src/components/dashboard/month-options/month-options.test.tsx
  src/components/dashboard/month-options/month-options.tsx
  src/components/dashboard/month-selector/month-selector.test.tsx
  src/components/dashboard/month-selector/month-selector.tsx
  src/components/dashboard/summary/summary-skeleton.tsx
  src/components/dashboard/summary/summary.test.tsx
  src/components/dashboard/summary/summary.tsx
  src/components/layout/divider/divider.tsx
  src/components/navbar/add-navigation/add-navigation.test.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.test.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.test.tsx
  src/components/ui/drawer.tsx
  src/hooks/use-media-query.ts
  vitest.setup.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat: add internationalization for UI strings and enforce Typography component usage
  src/app/(auth)/login/login.test.tsx
  src/app/(auth)/login/page.tsx
  src/components/dashboard/summary/summary.tsx
  src/components/navbar/add-navigation/add-navigation.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.test.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.tsx
  src/messages/de.json
  src/messages/en.json
  src/messages/es.json
  src/messages/fr.json
  src/messages/pt.json
  src/providers/auth-provider.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

fix: resolve i18n issues in import transaction dialog
  .husky/pre-commit
  README.md
  package.json
  src/app/(auth)/login/page.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.test.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.tsx
  src/messages/en.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

chore(ci): add linting to pre-commit hook
  .husky/pre-commit
Due: none

fix: pre-commit hooks and linting issues
  .husky/pre-commit
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/@types/i18next.d.ts
  src/@types/resources.ts
  src/app/(auth)/login/page.tsx
  src/app/(dashboard)/dashboard.test.tsx
  src/components/dashboard/category-card/category-card.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.tsx
  src/components/ui/dialog.tsx
  src/messages/en.json
  src/scripts/check-comments.js
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

style: format package.json indentation to use tabs
  package.json
Due: npx prettier --write

chore(config): update ESLint and TypeScript configurations
  eslint.config.mjs
  tsconfig.json
Due: npx prettier --write

feat: implement i18n for UI accessibility strings
  src/app/(auth)/login/page.tsx
  src/components/dashboard/month-selector/month-selector.test.tsx
  src/components/dashboard/month-selector/month-selector.tsx
  src/components/layout/header/header.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.tsx
  src/components/ui/dialog.tsx
  src/components/ui/logo.tsx
  src/messages/de.json
  src/messages/en.json
  src/messages/es.json
  src/messages/fr.json
  src/messages/pt.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat(i18n): add accessibility strings and refactor scripts
  package.json
  pnpm-lock.yaml
  src/@types/resources.ts
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.test.tsx
  src/messages/de.json
  src/messages/en.json
  src/messages/es.json
  src/messages/fr.json
  src/messages/pt.json
  src/scripts/check-comments.js
  src/scripts/check-comments.ts
  src/scripts/prune-translations.ts
  src/scripts/sync-translations.ts
  tsconfig.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

chore(scripts): fix and update maintenance scripts
  package.json
  src/lib/ai/config.ts
  src/lib/ai/prompts/fix-comments.ts
  src/scripts/check-comments.ts
  src/scripts/fix-comments-ai.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

chore(i18n): refactor i18n configuration and remove unused locales
  src/@types/resources.ts
  src/i18n/i18n-config.ts
  src/i18n/request.ts
  src/lib/ai/prompts/sync-i18n-messages.ts
  src/messages/de.json
  src/messages/en.json
  src/messages/es.json
  src/messages/fr.json
  src/messages/pt.json
  src/scripts/prune-translations.ts
  src/scripts/sync-translations.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

test: update tests to use English locale
  src/components/auth/logout-button/logout-button.test.tsx
  src/components/dashboard/category-card/category-card.test.tsx
  src/components/dashboard/category-list/category-list.test.tsx
  src/components/dashboard/month-selector/month-selector.test.tsx
  src/components/dashboard/summary/summary.test.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.test.tsx
  src/mocks/handlers.ts
Due: npx eslint --fix, bun run prettier --write

feat(ai): use configured gemini model for bank statement scanning
  src/actions/scan-statement.ts
Due: npx eslint --fix, bun run prettier --write

style(scripts): fix indentation in comment cleaning logic
  src/scripts/fix-comments-ai.ts
Due: npx eslint --fix, bun run prettier --write

fix(graphql): update createTransaction mutation with householdId and success response
  package.json
  src/@types/resources.ts
  src/components/navbar/add-navigation/add-navigation.tsx
  src/components/transactions/create-transaction-dialog/create-expense-drawer.tsx
  src/messages/en.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

fix(graphql): Correct CreateTransaction field name and related refactoring
  src/app/graphql/resolvers.ts
  src/app/graphql/schema.ts
  src/components/navbar/add-navigation/add-navigation.test.tsx
  src/components/navbar/add-navigation/add-navigation.tsx
  src/components/transactions/create-transaction-dialog/create-expense-drawer.test.tsx
  src/components/transactions/create-transaction-dialog/create-expense-drawer.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.test.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.tsx
Due: npx eslint --fix, bun run prettier --write

refactor(transactions): rename ImportTransactionDialog to ImportTransactionDrawer
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.test.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-drawer.tsx
Due: npx eslint --fix, bun run prettier --write

refactor: Address biome warnings in new/modified files
  src/components/navbar/add-navigation/add-navigation.tsx
  src/components/transactions/create-transaction-dialog/create-expense-drawer.test.tsx
  src/components/transactions/create-transaction-dialog/create-expense-drawer.tsx
Due: npx eslint --fix, bun run prettier --write

feat(navbar): add expense and category drawers to add navigation
  src/components/navbar/add-navigation/add-navigation.test.tsx
  src/components/navbar/add-navigation/add-navigation.tsx
Due: npx eslint --fix, bun run prettier --write

chore: Remove extra empty lines in create-expense-drawer.tsx
  src/components/transactions/create-transaction-dialog/create-expense-drawer.tsx
Due: npx eslint --fix, bun run prettier --write

fix(graphql): Correct createTransaction mutation name
  src/components/navbar/add-navigation/add-navigation.tsx
Due: npx eslint --fix, bun run prettier --write

chore(i18n): complete English translations and update test mocks
  src/@types/resources.ts
  src/app/(auth)/login/login.test.tsx
  src/components/navbar/add-navigation/add-navigation.test.tsx
  src/messages/en.json
  vitest.setup.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

chore(i18n): update translation keys and types
  src/@types/resources.ts
  src/messages/en.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat(ui): add IconPicker component
  src/components/ui/icon-picker.tsx
Due: npx eslint --fix, bun run prettier --write

refactor(transactions): restructure transaction drawers and update navigation
  src/components/navbar/add-navigation/add-navigation.test.tsx
  src/components/navbar/add-navigation/add-navigation.tsx
  src/components/navbar/drawers/create-category/create-category-drawer.test.tsx
  src/components/navbar/drawers/create-category/create-category-drawer.tsx
  src/components/navbar/drawers/create-transaction/create-expense-drawer.test.tsx
  src/components/navbar/drawers/create-transaction/create-expense-drawer.tsx
  src/components/navbar/drawers/import-transaction/import-transaction-dialog.test.tsx
  src/components/navbar/drawers/import-transaction/import-transaction-drawer.tsx
Due: npx eslint --fix, bun run prettier --write

feat(api): update graphql schema and resolvers
  src/app/graphql/resolvers.ts
  src/app/graphql/schema.ts
Due: npx eslint --fix, bun run prettier --write

chore(deps): add nextjs-toploader
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

feat(ui): add progress bar navigation
  src/app/layout.tsx
Due: npx eslint --fix, bun run prettier --write

refactor(dashboard): migrate to loading.tsx and clean up skeletons
  src/app/(dashboard)/loading.tsx
  src/app/(dashboard)/page.tsx
  src/components/dashboard/summary/summary-skeleton.tsx
Due: npx eslint --fix, bun run prettier --write

feat(dashboard): add stagger animation to category list
  src/components/dashboard/category-list/category-list.tsx
Due: npx eslint --fix, bun run prettier --write

refactor(navbar): extract ActionPill component
  src/components/navbar/action-pill/action-pill.tsx
  src/components/navbar/add-navigation/add-navigation.tsx
Due: npx eslint --fix, bun run prettier --write

style(navbar): update item hover colors
  src/components/navbar/navbar-item/navbar-item.tsx
Due: npx eslint --fix, bun run prettier --write

fix(ui): fix scroll area padding in IconPicker
  src/components/ui/icon-picker.tsx
Due: npx eslint --fix, bun run prettier --write

fix: add limit method to firestore collection mock in tests
  src/@types/resources.ts
  src/app/(dashboard)/category/[id]/loading.tsx
  src/app/(dashboard)/category/[id]/page.tsx
  src/app/graphql/resolvers.test.ts
  src/app/graphql/resolvers.ts
  src/components/category/category-header/category-header.tsx
  src/components/category/category-header/drawers/update-category/update-category.tsx
  src/components/category/category-manager/category-manager.tsx
  src/components/category/category-summary/category-summary.tsx
  src/components/category/category-view/category-view.tsx
  src/components/ui/slider.tsx
  src/messages/en.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

refactor: move month selector components to shared location
  package.json
  pnpm-lock.yaml
  src/components/dashboard/summary/summary.tsx
  src/components/month-selector/month-selector.test.tsx
  src/components/month-selector/month-selector.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

refactor(dashboard): remove month selector components
  src/components/dashboard/month-selector/month-selector.test.tsx
  src/components/dashboard/month-selector/month-selector.tsx
Due: npx eslint --fix, bun run prettier --write

feat(auth): add developer authentication mode
  src/@types/resources.ts
  src/actions/dev-auth.ts
  src/app/(auth)/login/page.tsx
  src/messages/en.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat(ui): improve layout structure and add scroll-aware navigation/header
  src/app/(dashboard)/layout.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/components/layout/header/header.tsx
  src/components/navbar/navbar-wrapper/navbar-wrapper.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

fix(category): improve header styling and fix update mutation handling
  src/components/category/category-header/category-header.tsx
Due: npx eslint --fix, bun run prettier --write

chore: update scripts and format files
  package.json
  src/actions/dev-auth.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  bun run prettier --write: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: any of: *.{json,css,md}
