Repository luanmessias/buckify: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, bun run prettier --write, npx prettier --write

add Jest configuration and testing setup and include Logo component tests
  .jest/setup.ts
  .storybook/main.ts
  bun.lockb
  jest.config.json
  package.json
  src/components/Logo/index.test.tsx
  tsconfig.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

Update dependencies for testig
  bun.lockb
  bunfig.toml
  package.json
  test/setup.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

add material ui dependencies
  bun.lockb
  package.json
Due: npx prettier --write

remove material ui and add shadcnui
  bun.lockb
  components.json
  package.json
  src/app/globals.css
  src/components/Button/index.tsx
  src/components/ui/button.tsx
  src/lib/utils.ts
  tailwind.config.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

Initial commit from Create Next App
  .gitignore
  README.md
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.tsx
  eslint.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
  tsconfig.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat: test husky
  app/layout.tsx
Due: npx eslint --fix, bun run prettier --write

finish base configuration and linting
  .husky/pre-commit
  .vscode/custom-data.json
  .vscode/settings.json
  app/globals.css
  app/layout.tsx
  app/page.tsx
  biome.json
  components.json
  custom.d.ts
  eslint.config.mjs
  lib/utils.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  tsconfig.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

fix(vscode): configure biome as default formatter
  .vscode/settings.json
Due: npx prettier --write

fix: apply biome suggestions
  app/page.tsx
  next.config.ts
Due: npx eslint --fix, bun run prettier --write

feat: adopt src directory structure
  components.json
  package.json
  pnpm-lock.yaml
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/themeProvider/ThemeProvider.tsx
  src/components/themeProvider/index.ts
  src/components/themeToggle/ThemeToggle.tsx
  src/components/themeToggle/index.ts
  src/components/ui/button.tsx
  src/lib/utils.ts
  tailwind.config.ts
  tsconfig.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

add firebase and login config
  package.json
  pnpm-lock.yaml
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/components/layout/header/header.tsx
  src/components/layout/theme-toggle/theme-toggle.tsx
  src/components/providers/theme-provider/theme-provider.tsx
  src/components/themeProvider/index.ts
  src/components/themeToggle/ThemeToggle.tsx
  src/components/themeToggle/index.ts
  src/components/ui/card.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/sonner.tsx
  src/lib/firebase.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

add grasphQL config and login flow
  .vscode/settings.json
  next.config.js
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/(auth)/login/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/page.tsx
  src/app/actions/auth.ts
  src/app/api/graphql/route.ts
  src/app/graphql/resolvers.ts
  src/app/graphql/schema.ts
  src/app/layout.tsx
  src/components/layout/header/header.tsx
  src/components/ui/card.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/sonner.tsx
  src/lib/firebase-admin.ts
  src/middleware.ts
  tsconfig.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

add tests i8n and apollo client to project
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/(auth)/login/login.test.tsx
  src/app/(auth)/login/page.tsx
  src/app/(dashboard)/page.tsx
  src/app/layout.tsx
  src/components/providers/apollo-wrapper/apollo-wrapper.tsx
  src/i18n/request.ts
  src/messages/en.json
  src/messages/pt.json
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

add i18n files
  package.json
  src/messages/en.json
  src/messages/pt.json
Due: npx prettier --write

add dialog and tests
  package.json
  pnpm-lock.yaml
  src/app/(dashboard)/dashboard.test.tsx
  src/app/(dashboard)/page.tsx
  src/app/graphql/resolvers.ts
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.tsx
  src/components/ui/dialog.tsx
  src/components/ui/select.tsx
  src/messages/pt.json
  src/mocks/handlers.ts
  src/mocks/server.ts
  vitest.config.ts
  vitest.setup.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

add husk fixes
  package.json
  src/components/ui/select.tsx
  src/messages/pt.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

fix shadCN dialog animation
  src/components/ui/dialog.tsx
Due: npx eslint --fix, bun run prettier --write

feat(ui): add calendar, logo, popover, and separator components
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/app/(auth)/login/page.tsx
  src/app/globals.css
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.tsx
  src/components/ui/calendar.tsx
  src/components/ui/logo.tsx
  src/components/ui/popover.tsx
  src/components/ui/select.tsx
  src/components/ui/separator.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat(ui): add radiant button component and update header layout
  src/app/(auth)/login/page.tsx
  src/components/layout/header/header.tsx
  src/components/layout/radiant-button/radiant-button.tsx
Due: npx eslint --fix, bun run prettier --write

feat(transactions): add month-based filtering for dashboard transactions
  src/app/(auth)/login/login.test.tsx
  src/app/(auth)/login/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/page.tsx
  src/app/globals.css
  src/app/graphql/resolvers.ts
  src/app/graphql/schema.ts
  src/components/layout/header/header.tsx
  src/components/transactions/month-options/month-options.test.tsx
  src/components/transactions/month-options/month-options.tsx
  src/hooks/use-date-fns-locale.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat(transactions): add internationalization and category summary
  package.json
  pnpm-lock.yaml
  src/app/(auth)/login/login.test.tsx
  src/app/(auth)/login/page.tsx
  src/app/(dashboard)/dashboard.test.tsx
  src/app/(dashboard)/page.tsx
  src/app/graphql/resolvers.ts
  src/app/graphql/schema.ts
  src/components/layout/header/header.tsx
  src/components/layout/radiant-button/radiant-button.tsx
  src/components/transactions/category-summary/category-card.test.tsx
  src/components/transactions/category-summary/category-card.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.tsx
  src/components/transactions/summary/summary.test.tsx
  src/components/transactions/summary/summary.tsx
  src/components/ui/icon.tsx
  src/lib/firebase-admin.ts
  src/lib/types.ts
  src/messages/en.json
  src/messages/pt.json
  src/mocks/handlers.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

style(messages): format JSON files with spaces instead of tabs
  src/messages/en.json
  src/messages/pt.json
Due: npx prettier --write

style: remove unnecessary comments and format code
  next.config.js
  src/app/globals.css
  src/components/transactions/category-summary/category-card.tsx
  src/components/transactions/summary/summary.test.tsx
  src/middleware.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat(auth): implement household-based authentication and add internationalization
  src/app/(auth)/login/login.test.tsx
  src/app/(auth)/login/page.tsx
  src/app/(dashboard)/dashboard.test.tsx
  src/app/(dashboard)/page.tsx
  src/app/actions/auth.ts
  src/app/graphql/resolvers.ts
  src/app/graphql/schema.ts
  src/components/dashboard/dashboard-view/dashboard-view.tsx
  src/components/layout/header/header.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.test.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.tsx
  src/components/transactions/summary/summary.test.tsx
  src/lib/firebase-admin.ts
  src/lib/types.ts
  src/messages/de.json
  src/messages/en.json
  src/messages/es.json
  src/messages/fr.json
  src/messages/pt.json
  src/middleware.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

style(messages): format JSON files with spaces instead of tabs
  src/messages/de.json
  src/messages/en.json
  src/messages/es.json
  src/messages/fr.json
  src/messages/pt.json
Due: npx prettier --write

chore: configure lint-staged and update UI color scheme
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/components/transactions/category-summary/category-card.tsx
  src/components/transactions/month-options/month-options.tsx
  src/components/transactions/summary/summary.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat(nav): add bottom navigation bar with add menu and reposition create transaction button
  src/app/(dashboard)/layout.tsx
  src/app/globals.css
  src/components/dashboard/dashboard-view/dashboard-view.tsx
  src/components/navbar/add-navigation/add-navigation.tsx
  src/components/navbar/navbar-item/navbar-item.tsx
  src/components/navbar/navbar-wrapper/navbar-wrapper.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.tsx
  src/components/ui/typography.tsx
  src/messages/de.json
  src/messages/en.json
  src/messages/es.json
  src/messages/fr.json
  src/messages/pt.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat(auth): enhance authentication flow and middleware
  .gitignore
  next.config.js
  package.json
  src/app/(auth)/login/login.test.tsx
  src/app/(auth)/login/page.tsx
  src/app/actions/auth.ts
  src/app/layout.tsx
  src/components/auth/logout-button/logout-button.test.tsx
  src/components/auth/logout-button/logout-button.tsx
  src/components/layout/header/header.tsx
  src/components/transactions/category-summary/category-card.test.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.test.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.tsx
  src/components/ui/sonner.tsx
  src/lib/auth-constants.ts
  src/middleware.ts
  src/providers/auth-provider.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

chore: add dependencies and ui components
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/ui/scroll-area.tsx
  src/components/ui/tooltip.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat: setup redux store and provider
  src/app/layout.tsx
  src/lib/features/categories/categories-slice.ts
  src/lib/features/household/household-slice.ts
  src/lib/hooks.ts
  src/lib/store.ts
  src/providers/store-provider.tsx
Due: npx eslint --fix, bun run prettier --write

feat: add transaction import with AI scanning
  src/actions/scan-statement.test.ts
  src/actions/scan-statement.ts
  src/app/graphql/resolvers.ts
  src/app/graphql/schema.ts
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.test.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.tsx
  src/lib/ai/prompts/get-transactions.ts
  src/lib/types.ts
Due: npx eslint --fix, bun run prettier --write

feat: update dashboard summary and navigation
  src/components/navbar/add-navigation/add-navigation.test.tsx
  src/components/navbar/add-navigation/add-navigation.tsx
  src/components/transactions/summary/summary.tsx
Due: npx eslint --fix, bun run prettier --write

fix(auth): improve login toast behavior
  src/components/auth/logout-button/logout-button.tsx
  src/providers/auth-provider.tsx
Due: npx eslint --fix, bun run prettier --write

feat(categories): integrate redux for centralized category management
  src/app/(dashboard)/dashboard.test.tsx
  src/components/dashboard/dashboard-view/dashboard-view.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.test.tsx
  src/components/transactions/create-transaction-dialog/create-transaction-dialog.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.test.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.tsx
Due: npx eslint --fix, bun run prettier --write

feat: update dashboard with transaction insights and category management
  package.json
  src/actions/scan-statement.ts
  src/app/(auth)/login/login.test.tsx
  src/app/(dashboard)/category/[id]/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/page.tsx
  src/app/graphql/resolvers.ts
  src/app/graphql/schema.ts
  src/components/category/category-manager/category-manager.tsx
  src/components/dashboard/dashboard-view/dashboard-view.tsx
  src/components/navbar/add-navigation/add-navigation.test.tsx
  src/components/transactions/category-summary/category-card.test.tsx
  src/components/transactions/category-summary/category-card.tsx
  src/components/transactions/import-transaction-dialog/import-transaction-dialog.tsx
  src/components/transactions/summary/summary.test.tsx
  src/components/transactions/summary/summary.tsx
  src/lib/types.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

test: improve code coverage
  src/app/actions/auth.test.ts
  src/app/graphql/resolvers.test.ts
Due: npx eslint --fix, bun run prettier --write

refactor(dashboard): restructure dashboard components and improve loading state
  package.json
  pnpm-lock.yaml
  src/app/(dashboard)/dashboard.test.tsx
  src/app/(dashboard)/page.tsx
  src/components/dashboard/category-card/category-card-skeleton.tsx
  src/components/dashboard/category-card/category-card.test.tsx
  src/components/dashboard/category-card/category-card.tsx
  src/components/dashboard/category-list/category-list.test.tsx
  src/components/dashboard/category-list/category-list.tsx
  src/components/dashboard/dashboard-view/dashboard-view-skeleton.tsx
  src/components/dashboard/dashboard-view/dashboard-view.tsx
  src/components/dashboard/month-options/month-options.test.tsx
  src/components/dashboard/month-options/month-options.tsx
  src/components/dashboard/summary/summary-skeleton.tsx
  src/components/dashboard/summary/summary.test.tsx
  src/components/dashboard/summary/summary.tsx
  src/components/layout/animated-wrapper/animated-wrapper.tsx
  src/components/layout/divider/divider.tsx
  src/components/ui/skeleton.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,jsx,ts,tsx}
  bun run prettier --write: any of: *.{js,jsx,ts,tsx}
  npx prettier --write: any of: *.{json,css,md}
