Repository luanmessias/buckify: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, bun run prettier --write, npx prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx eslint --fix", "bun run prettier --write"],
  "*.{json,css,md}": ["npx prettier --write"]
}

refactor(ui): relocate list filter components to common directory
  .vscode/settings.json
  biome.json
  src/app/(dashboard)/category/[id]/loading.tsx
  src/app/(dashboard)/loading.tsx
  src/components/common/list-filter/list-filter-skeleton.tsx
  src/components/common/list-filter/list-filter.test.tsx
  src/components/common/list-filter/list-filter.tsx
  src/components/features/categories/components/category-view/category-view.tsx
  src/components/features/dashboard/dashboard-view/dashboard-view.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

fix(household-sync): prevent crash on missing household ID and sync store on login
  src/components/providers/household-sync/household-sync.tsx
  src/providers/store-provider.tsx
Due: npx eslint --fix, bun run prettier --write

fix(i18n): add missing translation key 'cancel' to Components namespace
  src/@types/resources.ts
  src/messages/en.json
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

fix(categories): refetch GetDashboardData after creating category to update UI
  src/components/layout/bottom-nav/add-navigation/add-navigation.tsx
Due: npx eslint --fix, bun run prettier --write

fix(transactions): refetch category data after creating transaction
  src/components/layout/bottom-nav/add-navigation/add-navigation.test.tsx
  src/components/layout/bottom-nav/add-navigation/add-navigation.tsx
Due: npx eslint --fix, bun run prettier --write

fix(transactions): fetch categories if missing and pre-select category on category page
  src/components/features/transactions/components/create-transaction-drawer/create-expense-drawer.test.tsx
  src/components/features/transactions/components/create-transaction-drawer/create-expense-drawer.tsx
  src/components/layout/bottom-nav/add-navigation/add-navigation.test.tsx
  src/components/layout/bottom-nav/add-navigation/add-navigation.tsx
Due: npx eslint --fix, bun run prettier --write

fix(transactions): resolve category slug to id for pre-selection in expense drawer
  src/components/layout/bottom-nav/add-navigation/add-navigation.test.tsx
  src/components/layout/bottom-nav/add-navigation/add-navigation.tsx
Due: npx eslint --fix, bun run prettier --write

fix(category): remove redundant provider and animate filter
  src/app/(dashboard)/category/[id]/page.tsx
  src/components/features/categories/components/category-view/category-view.tsx
Due: npx eslint --fix, bun run prettier --write

fix(ui): memoize animated wrapper component to prevent re-renders
  src/components/layout/wrappers/animated-wrapper/animated-wrapper.tsx
Due: npx eslint --fix, bun run prettier --write

fix(ui): speed up animations to prevent blank screen perception
  src/components/features/categories/components/category-list/category-list.tsx
  src/components/features/categories/components/category-transaction-list/category-transaction-list.tsx
  src/components/layout/wrappers/animated-wrapper/animated-wrapper.tsx
Due: npx eslint --fix, bun run prettier --write

fix(transactions): fetch slug in category list to ensure correct drawer pre-selection on refresh
  src/components/layout/bottom-nav/add-navigation/add-navigation.tsx
Due: npx eslint --fix, bun run prettier --write

test(transactions): rename import transaction drawer tests
  src/components/features/transactions/components/import-transaction-drawer/import-transaction-drawer.test.tsx
Due: npx eslint --fix, bun run prettier --write

feat(user-settings): implement settings form and user state management
  src/@types/resources.ts
  src/app/graphql/resolvers.ts
  src/app/graphql/schema.ts
  src/components/features/auth/user-settings/user-settings.tsx
  src/lib/features/household/household-slice.ts
  src/lib/features/user/user-slice.ts
  src/lib/store.ts
  src/lib/types.ts
  src/messages/en.json
  src/providers/auth-provider.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

feat(ui): implement User Area sheet and layout refactor
  src/components/common/theme-toggle/theme-toggle.tsx
  src/components/features/auth/logout-button/logout-button.tsx
  src/components/features/auth/user-area/user-area.tsx
  src/components/layout/header/header.tsx
  src/components/ui/avatar.tsx
  src/components/ui/sheet.tsx
Due: npx eslint --fix, bun run prettier --write

ui(categories): update category card visual contrast
  src/components/features/categories/components/category-card/category-card.tsx
Due: npx eslint --fix, bun run prettier --write

ui(dashboard): update dashboard view and summary
  src/app/(dashboard)/layout.tsx
  src/components/features/dashboard/dashboard-view/dashboard-view.tsx
  src/components/features/dashboard/summary-cards/summary.tsx
Due: npx eslint --fix, bun run prettier --write

test(auth): update login tests with store provider wrapper
  src/app/(auth)/login/login.test.tsx
Due: npx eslint --fix, bun run prettier --write

build: add @radix-ui/react-avatar dependency
  package.json
  pnpm-lock.yaml
Due: npx prettier --write

style(transactions): fix formatting in expense drawer
  src/components/features/transactions/components/create-transaction-drawer/create-expense-drawer.tsx
Due: npx eslint --fix, bun run prettier --write

docs: update todo backlog and finished items
  .todo/01-fix-general-fixes.todo
  .todo/backlog/feat-budget-consistency.todo
  .todo/feat-user-area.todo
  .todo/finished/feat-user-area.todo
Due: none

fix(ui): enable scrolling in user area on small screens
  .todo/01-fix-general-fixes.todo
  src/components/features/auth/user-area/user-area.tsx
Due: npx eslint --fix, bun run prettier --write

feat(auth): secure dev login mechanism and update todo status
  .todo/security-auth.todo
  src/actions/dev-auth.ts
  src/app/(auth)/login/page.tsx
  src/lib/auth-constants.ts
Due: npx eslint --fix, bun run prettier --write

feat(e2e) install playwright and add the first test
  .github/workflows/playwright.yml
  .gitignore
  e2e/auth.spec.ts
  e2e/utils/i18n-helper.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/app/(auth)/login/page.tsx
  src/components/features/auth/user-area/user-area.tsx
  src/lib/features/categories/categories-slice.ts
  vitest.config.ts
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

ci: update pnpm version to 10
  .github/workflows/playwright.yml
Due: none

ci(e2e): enable webServer with pnpm command and timeout
  playwright.config.ts
Due: npx eslint --fix, bun run prettier --write

fix(dev-auth) promise to fix the github actions
  src/actions/dev-auth.ts
Due: npx eslint --fix, bun run prettier --write

refactor(playwright): streamline workflow steps and add environment variable debugging
  .github/workflows/playwright.yml
Due: none

fix(firebase-admin): enhance private key formatting with base64 decoding
  src/lib/firebase-admin.ts
Due: npx eslint --fix, bun run prettier --write

feat(graphql): implement user authentication context with session handling
  src/app/api/graphql/route.ts
Due: npx eslint --fix, bun run prettier --write

fix(graphql): improve error handling structure in authentication context
  src/app/api/graphql/route.ts
Due: npx eslint --fix, bun run prettier --write

fix(graphql): remove unused GET export from GraphQL handler
  src/app/api/graphql/route.ts
Due: npx eslint --fix, bun run prettier --write

fix(graphql): implement POST handler with content length validation
  src/app/api/graphql/route.ts
Due: npx eslint --fix, bun run prettier --write

refactor(graphql): improve error handling in POST handler with JSON validation
  e2e/auth.spec.ts
  src/app/api/graphql/route.ts
Due: npx eslint --fix, bun run prettier --write

fix(graphql): streamline request handling and improve error responses in GraphQL route
  e2e/auth.spec.ts
  src/app/api/graphql/route.ts
Due: npx eslint --fix, bun run prettier --write

fix(auth): enhance user state management in AuthProvider for better dev mode handling
  src/providers/auth-provider.tsx
Due: npx eslint --fix, bun run prettier --write

fix(dev-auth): correct cookie handling in devLogin function for improved session management
  src/actions/dev-auth.ts
Due: npx eslint --fix, bun run prettier --write

fix(auth): update tests to verify user avatar visibility instead of dashboard text
  e2e/auth.spec.ts
Due: npx eslint --fix, bun run prettier --write

fix(input): add autoComplete and spellCheck attributes for improved accessibility
  README.md
  src/components/ui/input.tsx
Due: npx eslint --fix, bun run prettier --write, npx prettier --write

Remove application preview image from README
  README.md
Due: npx prettier --write

feat(header): make logo clickable for navigation
  src/components/layout/header/header.tsx
Due: npx eslint --fix, bun run prettier --write
